@{
    ViewData["Title"] = "Home Page";
}

<div >
    
        <div>
            <h1 class="display-4" style="text-align:center">Good Bank</h1>
            <h4 style="margin-bottom: 20px; margin-top: 20px; text-align: center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</h4>

        </div>
 </div>
