@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    
        <div class="col-md-4">
            <h1 class="display-4">Welcome!</h1>
            <h4 style="margin-bottom:20px; margin-top:20px">Select Account Type</h4>
            <form asp-action="Submit" asp-controller="Home">

                <select class="form-control" id="AccountType" name="AccountType">
                    <option value="">All</option>
                    <option value="0">Chequing </option>
                    <option value="1">Savings</option>
                </select>

                <button type="submit" class="btn btn-primary" style="margin-top:15px">Submit</button>
            </form>
        </div>
 </div>
