@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    
        <div class="col-md-4">
            <h1 class="display-4" style="text-align:center">Welcome!</h1>
            <h4 style="margin-bottom:20px; margin-top:20px">introduction</h4>

        </div>
 </div>
